# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: DotNetCoreCLI@2
  displayName: 'Restore Training project'
  inputs:
    command: 'restore'
    projects: 'TrainConsole/TrainConsole.csproj'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build training project'
  inputs:
    command: 'build'
    projects: 'TrainConsole/TrainConsole.csproj'

- task: DotNetCoreCLI@2
  displayName: 'Train model'
  inputs:
    workingDirectory: 'TrainConsole'
    command: 'run'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Visual Studio Enterprise(04edd16f-fa44-4e69-87c0-72a91e94a540)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az storage blob upload \
          --account-name $(az-model-storage-account-name) \
          --container-name $(az-model-storage-container-name) \
          --sas-token $(az-model-storage-sas-token) \
          --name model.zip \
          --file model.zip 
    workingDirectory: 'TrainConsole'

- task: CmdLine@2
  displayName: 'Seeing the current contents'
  inputs:
    workingDirectory: TrainConsole
    script: 'ls'